<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="inicio-alumno">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agenda-alumno">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificaciones-alumno">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clases-alumno">
      <ion-icon name="book"></ion-icon>
      <ion-label>Clases</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
